allow system_app cache_file:dir write;
allow system_app system_app_data_file:file { execute execute_no_trans };
allow system_app ctl_default_prop:property_service set;
