allow init block_device:blk_file setattr;
allow init shell_data_file:dir { write add_name };
allow init shell_data_file:file create_file_perms;
allow init vfat:dir { search mounton };
