/dev/disp                   0770    system      system
/dev/cedar_dev              0660    media       media
/dev/ace_dev                0666    system      system
/dev/ump                    0777    system      graphics
/dev/mali                   0666    system      graphics
/dev/video0                 0770    media       media
/dev/video1                 0770    media       media
/dev/snd/pcmC0D0c           0770    media       media
/dev/snd/pcmC0D0p           0770    media       media
/dev/ttyUSB0                0777    system      system
/dev/ttyUSB1                0777    system      system
/dev/ttyUSB2                0777    system      system
/dev/ttyUSB3                0777    system      system
/dev/ttyACM0                0777    system      system
/dev/ttyACM1                0777    system      system
/dev/ttyACM2                0777    system      system
/dev/gps                    0777    system      system
/dev/pa_dev                 0777    system      system
/dev/sunxi_mem              0666    media       media
/dev/g2d                    0660    media       media
/dev/fd_dev               0660    media       media
/dev/sr0                    0777    system      system
/dev/ion                    0777    system      graphics
/dev/pvrsrvkm               0666    root        root
/dev/pvr_sync               0666    system      graphics
/dev/ttyS1            		0660   bluetooth  bluetooth