#####################################################################################################################################
# Readme:
# External 3g dongle configuration file
# 1. This file must be named 3g_dongle.cfg
# 2. The path of this file must be put in the /system/etc/.
# 	 eg. /system/etc/3g_dongle.cfg
# 3. # means a comment line.
# 4. Section name and Key mustn't be contain space,tab and comment character,otherwise it will lead to ERROR.
# ˵��:
# 1.���ļ�·�����ļ���������"/system/etc/3g_dongle.cfg"��ע�ͱ����һ���ַ�ʹ��#����;
# 2.Section��Key�ֶ�ǰ�󶼲����пո�tab����ע�͵��ַ�������������̻ᱨ��;
# 3.�������ļ�������������:
#        ��һ����Ϊ�������ź��룬������д,
#			       ������Ӫ�̲�ͬ,Ĭ�����й���������Ӫ�̲��ź���,�������Ӫ�̲��ź�����Ҫ�޸�;
#		 �ڶ�����Ϊ����dongle��������д,һ�㲻֧�ֵ�3g dongleֻ��Ҫ��д������Ҫ��������֧�֣��������֧�֣��뷴�������ǣ�лл��
#####################################################################################################################################
# Part 1��operator dial number
# dial number detals:
# ���ź������ӣ�
# pppd���ź��룬���ݸ���Ӫ��ʵ�ʺ�����д�����й�������Ӫ�̣���ͨΪATDT*99#������ΪATDT#777���ƶ�ΪATDT*98*1#
# ��ͬ������Ҫ�޸�����Ĳ��ź��룬tdscdmaֻ���й�ʹ�ã������޸ģ������
# �������Ӫ��ֻ��Ҫ����wcdma��cdma2000�Ĳ��ź��롣
# 
#[DIAL_NUMBER]
#wcdma=ATDT*99#            -- gprs,edge,wcdma,hspda,hspua,hspa for China Unicom,����wcdma������Ӫ����Ҫ�޸�������ź���.
#cdma2000=ATDT#777         -- cdma2000,evdo Rev.O,Rev.A,Rev.B for China Telecom,����cdma2000������Ӫ����Ҫ�޸�������ź���.
#tdscdma=ATDT*98*1#		   -- gprs,edge,td-scdma... for China Mobile���������й��ƶ���������Ч:gprs/edge/td-scdma,�����޸�.
#####################################################################################################################################
# Part 2: newly add dongle
# Section��Key���ֶ�˵�����������ӣ�
#
#[E1750]					#dongle name,��������ͬ�ģ���ø���dongle��������д.
#dongle_name=E1750			#dongle name,ͬ��
#production_name=E1750		#It must get the production_name from AT command "AT+CGMM",no matter what the string is.<������д��ȷ>
#vendor_name=huawei			#the vendor,eg. huawei,zte,ASB,ation...,just named it with a easy way.����dongle�ĳ���
#network_type=GSM_MODE		#  ��ѡ����ֻ������:GSM_MODE,CDMA_MODE,TD_MODE;<������д��ȷ>
#							#  1. GSM_MODE��Ӧgprs,edge,wcdma,hsdpa,hsupa,hspa�����磬���й���Ӧ�й���ͨ;
#                           #  2. CDMA_MODE��Ӧcdma2000�����ݽ����磬���й���Ӧ�й�����;
#							#  3. TD_MODE��Ӧ�й��ƶ���Ŀǰ�������磬�������й��ƶ���Ч��
#pid_vid_origin=0x12d11446	#dongleת��ǰ��pid/vid��������0x0
#bcdDevice_origin=0x0		#dongleת��ǰ��bcdDevice��������0x0
#pid_vid_now=0x12d11001		#dongleת�����pid/vid���������ʵ��ֵ����д��������0x0,<������д��ȷ>
#bcdDevice_now=0x0			#dongleת�����bcdDevice��������0x0
#at_port=2					#AT command port,ril��ͨ��ʹ�õ�AT�˿ڣ�        <������д��ȷ>
#ppp_port=0					#pppd use this port to dial,pppd����ʹ�õĶ˿ڣ�<������д��ȷ>
#####################################################################################################################################


[DIAL_NUMBER]
wcdma=ATDT*99#
cdma2000=ATDT#777
tdscdma=ATDT*98*1#


[E1750]
dongle_name=E1750
production_name=E1750
vendor_name=huawei
network_type=GSM_MODE
pid_vid_origin=0x12d11446
bcdDevice_origin=0x0
pid_vid_now=0x12d11001
bcdDevice_now=0x0
at_port=2
ppp_port=0

[E353]
dongle_name=E353
production_name=E353
vendor_name=huawei
network_type=GSM_MODE
pid_vid_origin=0x12d11446
bcdDevice_origin=0x0
pid_vid_now=0x12d114ac
bcdDevice_now=0x0
at_port=3
ppp_port=0

[EC1261]
dongle_name=EC1261
production_name=EC1261
vendor_name=huawei
network_type=CDMA_MODE
pid_vid_origin=0x12d11505
bcdDevice_origin=0x0
pid_vid_now=0x12d1140c
bcdDevice_now=0x0
at_port=3
ppp_port=0

[EC1261]
dongle_name=EC1261
production_name=EC1261
vendor_name=huawei
network_type=CDMA_MODE
pid_vid_origin=0x12d11446
bcdDevice_origin=0x0
pid_vid_now=0x12d11001
bcdDevice_now=0x0
at_port=2
ppp_port=0
