allow system_server disp_device:chr_file rw_file_perms;
allow system_server fuse:dir search;
allow system_server init:unix_dgram_socket sendto;
allow system_server tmpfs:file r_file_perms;
allow system_server socket_device:sock_file write;
allow system_server sayeye:unix_stream_socket connectto;
allow system_server self:capability sys_module;
allow system_server storage_stub_file:dir getattr;
